.nav-disclosure {
	display: flex;
	align-items: center;
	gap: 4px;
	color: light-dark(var(--zinc-500), var(--zinc-400));

	&:hover,
	&.active {
		color: light-dark(var(--zinc-900), var(--zinc-100));
	}
}