---
title: Blog
---
<h1>Blog</h1>

<h2>Posts by topic</h2>
<ul>
  {% for topic in site.topics %}
    <li>
      <h3><a href="{{ topic.url }}">{{ topic.name }}</a></h3>
      <p>{{ topic.content | markdownify }}</p>
    </li>
  {% endfor %}
</ul>

<h2>All posts</h2>

<ul>
  {% for post in site.posts %}
    <li>
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      {% assign topic = site.topics | where: 'short_name', post.topic | first %}
      <p><a href="{{ topic.url }}">{{ topic.name }}</a> | Authored {{ post.date | date_to_long_string }} </p>
    </li>
  {% endfor %}
</ul>
