:root {
	--zinc-50: #fafafa;
	--zinc-100: #f4f4f5;
	--zinc-200: #e4e4e7;
	--zinc-300: #d4d4d8;
	--zinc-400: #a1a1aa;
	--zinc-500: #71717a;
	--zinc-600: #52525b;
	--zinc-700: #3f3f46;
	--zinc-800: #27272a;
	--zinc-900: #18181b;
	--zinc-950: #09090b;
	--blue-50: #f0f8ff;
	--blue-100: #e1f2fe;
	--blue-200: #bae3fd;
	--blue-300: #7ed0fc;
	--blue-400: #3ab9f8;
	--blue-500: #0d9be7;
	--blue-600: #0277c0;
	--blue-700: #0361a0;
	--blue-800: #075183;
	--blue-900: #0c446e;
	--blue-950: #082d49;
}

html {
	font-family: "Nacelle", "Helvetica", "Arial", sans-serif;
	font-size: 18px;
	line-height: 1.65;
	letter-spacing: 0.15px;
	text-underline-offset: 5px;
	text-decoration-thickness: 2px;
	color-scheme: light dark;
	color: light-dark(var(--zinc-900), var(--zinc-300));
	background-color: light-dark(var(--zinc-50), var(--zinc-900));
}

body {
	max-width: 760px;
	margin: 0 auto;
	padding: 3rem 0.75rem;
}

main {
	margin-block: 3.75rem 3.25rem;
}

h1 {
	font-weight: 800;
	letter-spacing: -0.2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: light-dark(var(--zinc-950), var(--zinc-50));
}

a {
	color: light-dark(var(--blue-600), var(--blue-500));
	text-decoration-color: currentColor;
	text-decoration-style: dotted;
	text-decoration-thickness: 3px;

	&:hover,
	&:focus {
		color: light-dark(var(--blue-800), var(--blue-400));
	}
}

a,
button {
	transition: color 0.15s ease;
}

b,
strong {
	font-weight: 600;
}

img,
video {
	max-width: 100%;
	height: auto;
	border-radius: 0.5rem;
}

button {
	appearance: none;
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	font: inherit;
	cursor: pointer;
}

figure {
	margin: 0;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}