html {
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
}

body {
	max-width: 740px;
	margin: 0 auto;
	padding: 8px;
}

ul {
	list-style: none;
	padding-left: 0;
}

img {
	max-width: 100%;
	height: auto;
}