---
import type { EnrichedTweet } from 'react-tweet';

interface Props {
    tweet: EnrichedTweet
}

const { tweet } = Astro.props;

const createdDate = new Date(tweet.created_at);
const createdDay = createdDate.toLocaleString(
    'en-US', { dateStyle: 'long' }
);
const createdTime = createdDate.toLocaleString(
    'en-US', { timeStyle: 'short' }
).toLowerCase();
const createdDateFormatted = [
    createdDay, createdTime
].join(' • ');
---

<a
    href={ tweet.url }
    rel="noopener noreferrer"
    target="_blank"
>
    { createdDateFormatted }
</a>