---
import type { EnrichedTweet } from 'react-tweet';

interface Props {
    tweet: EnrichedTweet
}

const { tweet } = Astro.props;
---

<div class="tweet__author">
    <img
        class="tweet__profile-picture"
        src={ tweet.user.profile_image_url_https }
        alt={ tweet.user.name }
    />
    { tweet.user.name }
    <span class="tweet__username">
        (@{ tweet.user.screen_name })
    </span>
</div>
<style>
    .tweet__author {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.25rem;
        font-weight: 600;
        margin-block: 1rem;
    }

    .tweet__profile-picture {
        width: 1.45rem;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-right: 0.25rem;
        padding-bottom: 2px;
    }

    .tweet__username {
        font-weight: 400;
    }
</style>