---
import HeaderLink from './HeaderLink.astro';
import { sanityClient } from 'sanity:client';
import groq from 'groq';
import type { Topic } from '../groq';

const headerQuery = groq`
	*[_type == "topic"] | order(name asc)
`;
const topics = await sanityClient.fetch<Topic[]>(headerQuery);
---

<a href="#content">Skip to content</a>
<nav>
	<ul>
		<li><HeaderLink href="/">Home</HeaderLink></li>
		<li><HeaderLink href="/calendar">Calendar</HeaderLink></li>
		<li><HeaderLink href="/blog">Blog</HeaderLink></li>
		{ topics.map(topic => (
			<li><HeaderLink href={`/topics/${ topic.slug.current }`}>{ topic.name }</HeaderLink></li>
		)) }
		<li><HeaderLink href="/social">Social</HeaderLink></li>
		<li><HeaderLink href="/feed.xml">RSS</HeaderLink></li>
	</ul>
</nav>
<style>
	nav ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		gap: 4px;
		padding: 0;
		margin: 0;
	}
</style>
