---
import type { Props as PortableTextProps, Block } from "astro-portabletext/types";
import { uniqueId } from '../util';

type Props = PortableTextProps<Block>;

const headerId = uniqueId("opinion-header");
---

<div
    class="opinion-container"
    role="group"
    aria-labelledby={ headerId }
>
    <div class="opinion-header" id={ headerId }>
        My thoughts
    </div>
    <slot />
</div>
<style>
    .opinion-container {
        background: light-dark(#e7ebf3, #1e2229);
        margin-block: 1rem;
        padding: 1.5rem 1rem;
        border-radius: 0.5rem;
    }

    .opinion-header {
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
</style>