---
import { sanityClient } from "sanity:client";
import groq from "groq";
import type { Post } from '../groq';
import type { PortableTextMarkDefinition } from "@portabletext/types";

type Block = Extract<Post['content'][number], { '_type': 'block' }>;
interface NodeProps extends PortableTextMarkDefinition {
    markDef: Extract<NonNullable<Block['markDefs']>[number], { '_type': 'subject' }>;
}

const { markDef } : NodeProps = Astro.props.node;
const { subject: subjectReference } = markDef;

const subjectReferenceQuery = groq`
    *[_type == "subject" && _id == $id][0]
`;

const subject = await sanityClient.fetch(subjectReferenceQuery, {
    id: subjectReference._ref
});
---

<a href={ `/subjects/${subject.slug.current}` }>
    <slot />
</a>