---
import type { Props as PortableTextProps, Mark } from 'astro-portabletext/types';
import type { Post, Subject } from '../groq';

type Block = Extract<Post['content'][number], { '_type': 'block' }>;
type Props = PortableTextProps<Mark<Extract<NonNullable<Block['markDefs']>[number], { '_type': 'subject' }>>>;

const { markDef } = Astro.props.node;
const { subject } = markDef;
---

<a href={ `/subjects/${subject.slug.current}` }>
    <slot />
</a>