---
import type { Post } from '../groq';
import { generateDatedPostSlug } from "../util";
import FormattedDate from './FormattedDate.astro';
import PostThumbnail from './PostThumbnail.astro';

interface Props {
    post: Post
}

const { post } = Astro.props;
const datedSlug = generateDatedPostSlug(post.datePublished, post.slug.current);
---

<p>
    <b><a href={ `/${datedSlug}` }>{ post.title }</a></b>
    {` | Authored `}
    <FormattedDate date={ new Date(post.datePublished) } />
    <p><i>{ post.description }</i></p>
    { post?.thumbnail && (
        <PostThumbnail thumbnail={ post.thumbnail } />
    ) }
</p>