---
const publicUrl = Astro.url.pathname.replace('/preview', '');
---

<div class="preview-overlay">
    <span>You're viewing this page in preview mode. <a href={ publicUrl }>Switch to public version.</a></span>
</div>
<style>
    .preview-overlay {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        z-index: 2;
        font-size: 0.85rem;
        padding: 1rem;
        max-width: 14rem;
        background-color: light-dark(#fff, var(--zinc-900));
        border: 1px solid light-dark(var(--zinc-300), var(--zinc-700));
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
    }
</style>