<a href="#content" class="sr-only sr-only-focusable">
    Skip to main content
</a>
<style>
    a:focus {
        inset: 6px auto auto 6px;
        padding: 6px 16px;
        z-index: 2;
        text-decoration: none;
    }
</style>