---
import { sanityClient } from "sanity:client";
import { subjectIndexQuery } from "@studio/sanity-queries";
import type { SubjectIndexQueryResult } from "@studio/sanity-typegen";
import BaseLayout from "@layouts/BaseLayout.astro";

const subjects = await sanityClient.fetch<SubjectIndexQueryResult>(subjectIndexQuery);

interface GroupedSubjects {
    [key: string]: SubjectIndexQueryResult;
}

const groupedSubjects = subjects.reduce((accumulator : GroupedSubjects, current) => {
    const letter = current.name.toUpperCase().charAt(0);
    accumulator[letter] ??= [];
    accumulator[letter].push(current);
    return accumulator;
}, {});
const letterHeadings = Object.keys(groupedSubjects);
---

<BaseLayout title="Subjects">
    <h1>Subjects</h1>
    { letterHeadings.map(letter => (
        <h2>{ letter }</h2>
        <ul>
            { groupedSubjects[letter]?.map(subject => (
                <li>
                    <a href={ `/subjects/${subject.slug.current}` }>
                        { subject.name }
                    </a>
                </li>
            )) }
        </ul>
    )) }
</BaseLayout>