---
import type { DereferencedContentMark } from '@studio/sanity-queries';

type Props = DereferencedContentMark<'subject'>;

const { markDef } = Astro.props.node;
const { subject } = markDef;
---

<a href={ `/subjects/${subject.slug.current}` }>
    <slot />
</a>